<div class="long-title" style="margin-left:5%; margin-right:5%">
    <h5>Formulario De Registro</h5>
</div>
<div id="form-container" style="margin-left:5%; margin-right:5%">
    <dx-form id="form"
        [formGroup]="formRegister" 
        
        [colCount]="1">
        <dxi-item itemType="group" caption="Información de la Empresa"  >
          <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%">
            <mat-form-field appearance="fill" style="width: 100% !important;">
                <mat-label>Code</mat-label>
                <input matInput formControlName="code">
              </mat-form-field>
        
              <mat-form-field appearance="fill" style="width: 100% !important;">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
              
              <mat-form-field appearance="fill" style="width: 100% !important;">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
           
              <mat-form-field appearance="fill" style="width: 100% !important;">
                <mat-label>identification</mat-label>
                <input matInput formControlName="identification">
              </mat-form-field>
           
              <mat-form-field appearance="fill" style="width: 100% !important;">
                <mat-label>contact Name</mat-label>
                <input matInput formControlName="contactName">
              </mat-form-field>
             
              <mat-form-field appearance="fill" style="width: 100% !important;">
                <mat-label>contact Email</mat-label>
                <input matInput formControlName="contactEmail">
              </mat-form-field>
            </div>
        </dxi-item>
        <dxi-item itemType="group" caption="INFORMACION DE LA CUENTA">
            <mat-form-field appearance="fill" style="width: 100% !important;">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill" style="width: 100% !important;">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
              </mat-form-field>
        </dxi-item>
        <dxi-item itemType="group" caption="SELECCIONE UN PLAN">
            <mat-form-field appearance="fill" style="width: 100% !important;">
                <mat-label>Seleccionar plan</mat-label>
                <mat-select formControlName="idplan">
                  <mat-option *ngFor="let i of arraySelect" value="{{ i.value }}" (click)="convertir()">{{ i.text }}</mat-option>
                  <!-- <mat-option value="p2">Plan 2</mat-option>
                  <mat-option value="p3">Plan 3</mat-option> -->
                </mat-select>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="guardar()">Register</button>
              <!-- <button mat-raised-button color="success" (click)="convertir()">Seleccionar</button> -->
              <!-- <p>{{ formRegister.value.idplan }}</p> -->
        </dxi-item>
        <dxi-item itemType="group" caption="ESPECIFICACIONES DEL PLAN">
            <!-- Card por defecto -->
            <mat-card  class="example-card" style="max-width: 80%;" *ngIf="plan0">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>ESCOJA UN PLAN</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://dummyimage.com/600x400/9e989e/0a0a0a&text=+ESCOJA+PLAN" alt="Photo of a Shiba Inu">
              </mat-card>
            <!-- card 1 -->
            <mat-card  class="example-card" style="max-width: 350px;" *ngIf="plan1">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Plan 1</mat-card-title>
                  <mat-card-subtitle>Subtitulo</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://dummyimage.com/600x400/9e989e/0a0a0a&text=PLAN+1" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Descripcion del plan
                  </p>
                </mat-card-content>
              </mat-card>
            <!-- Card2 -->
              <mat-card class="example-card" style="max-width: 350px;" *ngIf="plan2">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Plan 2</mat-card-title>
                  <mat-card-subtitle>Subtitulo</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://dummyimage.com/600x400/9e989e/0a0a0a&text=PLAN+2" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Descripcion del plan
                  </p>
                </mat-card-content>
              </mat-card>
              <!-- card3 -->
              <mat-card class="example-card" style="max-width: 350px;" *ngIf="plan3">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Plan 3</mat-card-title>
                  <mat-card-subtitle>Subtitulo</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://dummyimage.com/600x400/9e989e/0a0a0a&text=PLAN+3" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Descripcion del plan
                  </p>
                </mat-card-content>
              </mat-card>
            <br>  
        </dxi-item>
        <!-- <dxi-item>
            <button mat-raised-button color="primary" (click)="guardar()">Register</button>
        </dxi-item> -->
    </dx-form>
</div>

   